.sellerPolicy-title {
  font-size: 24px;
  font-weight: normal;
  margin: 8px 0 32px;
}

.seller-amount {
  font-size: 50px;
  margin: 7px;
}

.per-month {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 32px;
}

.input-box-icon {
  .input-group-text {
    background-color: transparent;
    border-right: 0 !important;
    border: 2px solid #d2d2d2;
    padding: 0rem 0.75rem;
  }
  .form-control {
    border: 2px solid #d2d2d2;
    border-left: 0 !important;
    height: 48px;
    font-size: 18px;
    &::placeholder {
      color: #d2d2d2;
    }
  }
  .MuiSvgIcon-root {
    fill: #d2d2d2;
  }
}

.form-control:focus {
  box-shadow: none;
}

.get-quotes-button {
  height: 48px;
  width: 100%;
  background-color: #145c9e !important;
  font-family: "Nunito" !important;
}

.bottom-text-container {
  margin-top: 56px;
  text-align: justify;
}

.last-paragraph {
  margin-top: 28px;
}

.sigCanvas {
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  margin-bottom: 18px;
}

.error-message {
  border: 2px solid #dc3545 !important;
  border-right: 0px !important;
}

.success-message {
  border: 2px solid #28a745 !important;
  border-right: 0px !important;
}
